<%= form_with(model: usuario) do |form| %>
  <% if usuario.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
        <% usuario.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="links">
    <%= form.label :email,  style: "display: block" %>
    <%= form.text_field :email %>
    <%= form.label :senha, style: "display: block" %>
    <%= form.password_field :senha %>
  </div>

  <div class="links">
    <%= form.submit "Cadastrar-se"%>
  </div>
<% end %>
